<div class="footer">
  <div class="language">
    <img class="language-globe" src="/assets/main-page/footer/globe%201.png">
    <img class="language-language" src="/assets/main-page/footer/Home%20About%20Us%20What%20W.png">
    <img class="language-vector" src="/assets/main-page/footer/Vector.png">
  </div>

  <div class="footer-first">
    <div class="navigation">NAVIGATION</div>
    <div class="navigation-info">
      <p>Home</p>
      <p>FAQ</p>
      <p>Investor Relations</p>
      <p>Jobs</p>
      <p>About Us</p>
      <p>Help Centre</p>
    </div>
  </div>

  <div class="footer-second">
    <div class="legal">LEGAL</div>
    <div class="legal-info">
      <p>Privacy Policy</p>
      <p>Terms of Service</p>
      <p>Cookie Preferences</p>
      <p>Corporate Information</p>
    </div>
  </div>

  <div class="footer-third">
    <div class="talk-to-us">TALK TO US</div>
    <div class="talk-to-us-info">
      <p>support@ercom.com</p>
      <p>+66 2399 1145</p>
    </div>
  </div>

  <div class="footer-fourth">
    <div class="follow-us">FOLLOW US</div>
    <div class="social-networks">
      <img src="/assets/main-page/footer/Facebook%20Icon.png">
      <img src="/assets/main-page/footer/Linkedin%20Icon.png">
      <img src="/assets/main-page/footer/Twitter%20Icon.png">
    </div>
  </div>

  <div class="all-rights">
    <img src="/assets/main-page/footer/©%202019%20APCOM.%20All%20Ri.png">
  </div>
</div>
